/* Deadline style:           */
/*      1. deadlines-list    */
/*      2. deadline          */

/*  1. deadlines-list */
.deadlines-list {
    /* width: 320px; */
    /* height: 400px; */

    width: 100%;
    height: 100%;

    border: 12px #ffffff solid;
    border-top: none;
    background-color: #ffffff;
    border-radius: 0px;

    display: flex;
    flex-direction: column;
    gap: 12px;

    /* overflow-x: hidden;

    overflow-y: scroll; */
}

/* Scrollbar display = none */
.deadlines-list::-webkit-scrollbar {
    /* display: none; */
}

/* 2. deadline */
/* deadline(div) = deadline-header(div) + deadline-content(div) */
.deadline {
    border: 1px #000000 solid;
    border-radius: 0px;
    display: flex;
    flex-direction: column;
}

/* deadline-header(div) = [time(span.time) @ date](p) + buttons(div) */
.deadline .deadline-header {
    background-color: #ffffff;
    color: #000000;
    padding: 4px 8px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 0px 0px 0 0;

    border-bottom: 1px #000000 solid;
}

/* date(p) */
.deadline .deadline-header p {
    display: inline-block;
    margin: 0;
    padding-left: 8px;
    font-size: 13px;
    font-weight: 300;
}

/* time(span.time) */
.deadline .deadline-header p span.time {
    font-weight: 500;
}

/* buttons(div) */
/* buttons(div) = done(a.btn-on-deadline) + play(a.btn-on-deadline) + edit(a.btn-on-deadline) + delete(a.btn-on-deadline) */
.deadline .buttons {
    display: inline-block;
    justify-items: right;
}

/* a.btn-on-deadline */
.deadline .buttons a.btn-on-deadline {
    padding: 8px 8px;
    border-radius: 6px;
    width: 32px;
    height: 32px;
    color: #000000;
}

/* a.btn-on-deadline:hover */
.deadline .buttons a.btn-on-deadline:hover {
    color: #FACA08;
}

/* deadline-content(div) */
/* deadline-content(div) = [tag(span.tag-on-deadline) + title](p) */
.deadline .deadline-content {
    background-color: #ffffff;
    color: #00002A;
    padding: 8px 16px;
    display: flex;
    flex-direction: column;
    gap: 4px;
    border-radius: 0 0 6px 6px;
}

/* tag(span.tag-on-deadline) */
.deadline .deadline-content p span.tag-on-deadline {
    margin: 0 4px 0 0;
    background-color: #FACA08;
    color: #ffffff;

    width: fit-content;
    max-width: 50%;
    height: 32px;

    font-weight: 300;
    font-size: 14px;

    padding: 4px 8px;
    border-radius: 6px;
    
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

/* title(p) */
.deadline .deadline-content p {
    display: inline-block;
    margin: 0;
    line-height: 1.5;
}

