.mymodal {
    /* display: block; */
    background-color: rgba(0,0,0,0.25);
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    right: 0;
    display: flex;
    /* justify-content: center;
    align-items: center; */
    display: none;
    padding: 1%;

    overflow: auto;
}

.mymodal-content {
    background-color: #ffffff;
    width: fit-content;
    height: fit-content;
    max-width: 50%;
    /* max-height: 50%; */
    border: 1px #00002A solid;

    /* overflow: auto; */
    margin: auto;

    animation-name: mymodalopen;
    animation-duration: 0.8s;
}

@keyframes mymodalopen {
    from {opacity: 0}
    to {opacity: 1}
}

.mymodal-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* padding: 12px 32px 12px 48px; */
    padding: 8px 12px 8px 24px;
    background-color: #ffffff;

    border-bottom: 1px #00002A solid;
    color: #00002A;
}

.mymodal-header h3 {
    /* color: #CFD4DD; */
    font-size: 20px;
    /* font-weight: 400; */
    margin: 0;
}

.mymodal-header a.btn-close-mymodal {
    color:  #00002A;
    /* color: #CFD4DD; */
    /* opacity: 0.5; */
    /* padding: 4px; */
    border-radius: 50%;
}

.mymodal-header a.btn-close-mymodal:hover {
    /* opacity: 1; */
    color:  #00002A;
    background-color: rgba(113,102,249,0.1);
    cursor: pointer;
}

.mymodal-body {
    padding: 16px 48px;
    line-height: 1.5;
    color: #00002A;
}

.mymodal-body p {
    margin: 0;
}

.mymodal-footer {
    padding: 8px 48px;
    background-color: #ffffff;
    border-top: 1px #00002A solid;
    display: flex;
    justify-content: space-evenly;
}

.mymodal-footer a.btn-on-mymodal {
    
    background-color: #7166F9;	
    background-image: 
        -webkit-linear-gradient(
            45deg,
            rgba(255, 255, 255, .4) 25%,
			transparent 25%,
            transparent 50%, 
            rgba(255, 255, 255, .4) 50%,
            rgba(255, 255, 255, .4) 75%,
            transparent 75%,
            transparent);

    padding: 12px 16px;
    border-radius: 6px;
    color: #ffffff;
    font-size: 14px;
    font-weight: 500;
    letter-spacing: 0.2em;
    text-transform: uppercase;
    
}

.mymodal-footer a.btn-on-mymodal:hover {
    background-color: #4CD7F6;
}

input[type=submit].btn-submit-on-form {
    font-size: 14px;
    font-weight: 500;

    outline: none;

    width: fit-content;

    background-color: #000000;
	
    padding: 8px 32px;
    color: #ffffff;
    border: 4px #ffffff solid;
    border-radius: 30px;

    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: 400;

    align-self: center;
}

input[type=submit].btn-submit-on-form:hover {
    background-color: #FEE95C;
    color: #000000;
    cursor: pointer;
    outline: none;
}


a.btn-open-mymodal {
    width: fit-content;

    background-color: #000000;	
    /* background-image: 
        -webkit-linear-gradient(
            45deg,
            rgba(255, 255, 255, .4) 25%,
			transparent 25%,
            transparent 50%, 
            rgba(255, 255, 255, .4) 50%,
            rgba(255, 255, 255, .4) 75%,
            transparent 75%,
            transparent); */

    padding: 8px 12px;

    color: #ffffff;
    /* font-size: 14px;
    font-weight: 500; */

    border: 4px #ffffff solid;
    border-radius: 30px;
    /* box-shadow: 5px 2px 10px rgba(0,0,0,0.1), 0 1px 2px rgba(0,0,0,0.2); */
    
    /* letter-spacing: 0.2em; */
    /* text-transform: uppercase; */
}

a.btn-open-mymodal:hover {
    background-color: #4CD7F6;
    cursor: pointer;
}

a.btn-open-mymodal svg {
    width: 16px;
    height: 16px;
    justify-content: middle;
    vertical-align: middle;
    display: inline-block;
    vertical-align:top;
}

a#btn-open-startTodoModal {
    /* display: inline-block;
    padding: 12px;

    border-radius: 50%; */
}

a#btn-open-startTodoModal:hover {
    
    cursor: pointer;
}

.btn-open-startTodoModal {
    /* background-color: #FACA08;	
    background-image: 
        -webkit-linear-gradient(
            45deg,
            rgba(255, 255, 255, .4) 25%,
			transparent 25%,
            transparent 50%, 
            rgba(255, 255, 255, .4) 50%,
            rgba(255, 255, 255, .4) 75%,
            transparent 75%,
            transparent);

    padding: 12px 16px;

    color: #ffffff;
    font-size: 14px;
    font-weight: 500;
    letter-spacing: 0.2em;
    text-transform: uppercase; */
}


/* responsive */
@media only screen and (max-width: 850px) {
    .mymodal {
        padding: 0px;
        overflow: auto;
    }
    
    .mymodal-content {
        width: 100%;
        height: auto;
        max-width: 100%;

        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .mymodal-header {
        width: 100%;
        padding: 8px 8px 8px 16px;
    }

    .mymodal-footer {
        width: 100%;
        padding: 8px 0px;
    }

    .mymodal-body {
        padding: 8px 0px;
    }
}