/* Pie chart for statistic todo by tag */
.pie-chart-for-todo-by-tag {
    /* border: 2px solid #000000; */
    background-color: #ffffff;
    width: 40%;
    /* box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24); */
    border-radius: 16px;
    /* padding: 4px; */
    padding: 8px;
    border-radius: 50%;
}

.pie-chart-for-todo-by-tag svg g path.slice {
    stroke: #ffffff;
    stroke-width: 0;
}

.pie-chart-for-todo-by-tag svg g path.slice:hover {
    stroke-width: 1.2;
}

.textPercentage, .textName {
    display: none;
}

.textPercentage-center {
    text-anchor: middle;
    alignment-baseline: baseline;
    font-size: 0.25em;
    font-weight: 600;
    fill: #00002A;
}

.textName-center {
    text-anchor: middle;
    alignment-baseline: baseline;
    font-size: 0.16em;
    font-weight: 300;
    fill: #00002A;
}

/* Percentages Done chart */
.percentages-done-chart {
    /* border: 2px solid #000000; */
    background-color: #ffffff;
    width: 40%;
    /* box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24); */
    
    /* border-radius: 16px; */
    /* padding: 4px; */
    
    padding: 8px;
    border-radius: 50%;
}

/* Background Circle */
.whole-circle {
    fill: none;
    stroke: #F5F1FA;
    stroke-width: 2.8;
}

/* Done Circle */
.done-circle {
    fill: none;
    stroke: #FEE95C;
    stroke-width: 2.8;
    stroke-linecap: round;
    animation: progress 1s ease-out forwards;
}

@keyframes progress {
    0% {
        stroke-dasharray: 0 100;
    }
}

.done-circle:hover {
    stroke: #FACA08;
}

/* Percentages text at center */
.percentages-text {
    text-anchor: middle;
    alignment-baseline: middle;
    font-size: 0.48em;
    font-weight: 600;
    fill: #00002A;
}

