.main-container {
    display: grid;
    grid-template-columns: 432px auto 400px;
    grid-template-rows: 45px auto;

    grid-template-areas:    "navbar navbar navbar"
                            "charts charts right-content";
}

.navbar-container {
    grid-area: navbar;
}

.right-content {
    grid-area: right-content;

    padding: 8px 16px;
}

.deadlines-container {
    /* padding: 8px 4px; */
    height: calc(100vh - 45px - 144px - 8px - 52px - 8px);

    background-color: #ffffff;

    /* overflow-x: scroll; */
    
    border-radius: 10px;
    border: 16px #ffffff solid;

    /* margin-top: 16px; */
    
    /* padding: 4px; */

    overflow-x: hidden;

    overflow-y: scroll;

    /* box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24); */
}

h2.title-deadlines {
    padding: 16px 32px 16px 32px;
    font-size: 20px;
    font-weight: bold;
    color: #1A0E2A;
}

/* Statistic Content area */

.statistic-content {

    height: calc(100vh - 45px);
    grid-area: charts;

    padding: 8px 32px;

    overflow-x: hidden;

    overflow-y: scroll;

    /* display: grid;
    grid-template-columns: 60% 40%; */
}

.statistic-daily-container {
    display: flex;
    flex-direction: column;
}

.statistic-weekly-container {
    display: flex;
    flex-direction: column;
    /* background-color: #ffffff; */
}

.filterDailyStatistic, .filterWeeklyStatistic {
    display: block;
    padding: 8px;
}

.chart-daily-container {
    display: flex;
    flex-direction: row;
    gap: 32px;
    justify-content: space-evenly;

    padding: 32px;
}

.chart-weekly-container {
    width: 100%;
    
    margin: 0 auto;
    padding: 12px 0px 20px 0px;

    
    /* display: flex;
    flex-direction: row;
    justify-content: space-around; */
}

.input-form-container {
    display: flex;
    flex-direction: row;
    padding: 0px 8px;
    align-items: center;
    justify-content: center;
    gap: 12px;

    border: 8px solid #ffffff;
    background-color: #ffffff;
    border-radius: 30px;
}

label.input-date-label, label.input-week-label {
    margin: 0;
    padding-right: 4px;

    font-weight: 600;
    /* padding-bottom: 4px; */
    color: #00002A;
}

input[type=date] {
    max-width: 240px;
    padding: 8px 16px;
    background-color: #ffffff;
    border: none;
    outline: none;
    border-radius: 6px;
    border: 1px #CFD4DD solid;

    margin: 4px 0px;

    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: 400;
    /* margin: 32px 32px; */
    line-height: 1;
}

input[type=date]::-webkit-calendar-picker-indicator {
    width: 16px;
    height: 16px;
    background-image: url("../assets/calendar.svg");
}

input[type=date]:focus {
    border-color: #000000;
}

input[type=week] {
    max-width: 240px;
    padding: 8px 16px;
    background-color: #ffffff;
    border: none;
    outline: none;
    border-radius: 6px;
    border: 1px #CFD4DD solid;

    margin: 4px 0px;


    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: 400;
    /* margin: 32px 32px; */
    line-height: 1;
}

input[type=week]::-webkit-calendar-picker-indicator {
    width: 16px;
    height: 16px;
    background-image: url("../assets/calendar-week.svg");
}

input[type=week]:focus {
    border-color: #000000;
}


input[type=submit].btn-submit {
    font-size: 14px;
    font-weight: 500;

    outline: none;

    width: fit-content;

    background-color: #000000;	
    padding: 8px 16px;
    color: #ffffff;
    border: 4px #ffffff solid;
    border-radius: 30px;
}

input[type=submit].btn-submit:hover {
    background-color: #000000;
    cursor: pointer;
    outline: none;
}

input[type=submit].btn-submit:focus {
    background-color: #4CD7F6;
    cursor: pointer;
    outline: none;
}


