/* Tag style:           */
/*      1. tags-list    */
/*      2. tag          */

/*  1. tags-list */
.tags-list {
    /* width: 240px; */
    border: 8px #ffffff solid;
    padding: 0px 0px;
    display: flex;
    overflow-y: auto;
    gap: 12px;

    justify-self: left;

    background-color: #ffffff;
    border-radius: 30px;
}

/* Scrollbar display = none */
.tags-list::-webkit-scrollbar {
    display: none;
}

/* 2. tag */
/* tag(div) = tagname(p.tagname) + edit(a.btn-on-tag) + delete(a.btn-on-tag) */
.tag {
    width: fit-content;
    display: flex;
    background-color: #ffffff;
    padding: 0px 4px;
    border-radius: 30px;
}

/* p.tagname */
.tag p.tagname {
    display: inline-block;
    white-space: nowrap;
    align-self: center;
    margin: 0;
    padding: 0px 12px;
}

/* a.btn-on-tag */
.tag a.btn-on-tag {
    padding: 8px 8px;
    border-radius: 6px;
    width: 32px;
    height: 32px;
}

/* a.btn-on-tag:hover */
.tag a.btn-on-tag:hover {
    background-color: rgba(0,0,0,0.1);
}

