

.week-calendar {
    width: max-content;
    height: max-content;

    /* box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16); */
    /* border-radius: 30px; */
    padding: 24px 24px;

    border-radius: 10px;

    background-color: #ffffff;
    
    /* background-image: linear-gradient(-45deg,  #FFD43D 0%, #FF6A66 100%); */
}

.week-container {
    /* display: grid;
    grid-template-columns: auto(7,auto); */

    display: flex;
    width: max-content;
    height: max-content;


    /* background-color: #FF8383; */
    /* padding-top: 12px;
    padding-left: 9px;
    padding-right: 9px;
    padding-bottom: 0px; */

    /* border-radius: 30px 30px 0px 0px; */

    /* box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16); */
}

.week-container .day {

    width: fit-content;
    height: fit-content;

    display: grid;
    grid-row: auto(2, auto);
    /* background-color: #98adff; */

    padding: 16px 12px;

    /* border-bottom: 4px #6bf3ec solid; */

    /* border-radius: 30px; */
    border-radius: 10px;
}

div.today {
    /* background-color: rgba(0,0,0,0.2); */
    background-color: #1A0E2A;
    
    /* background-image: linear-gradient(-45deg,  #FFD43D 0%, #FF6A66 100%); */
    /* border: 4px #ffffff solid; */
}

.week-container div.today > span {
    color: #ffffff;
}

.day span:nth-child(even) {
    margin-top: 4px;
}

/* .day span {
    padding: 4px;
} */

.week-container .day span {
    justify-self: center;
    align-self: center;

    /* color: white; */
    color: #1A0E2A;

    font-size: 12px;

    font-weight: 300;
}

#sun, #mon, #tue, #wed, #thu, #fri, #sat {
    font-size: 16px;
    font-weight: 500;
}

.datetime-container {
    width: max-content;
    display: flex;

    /* background-color: white; */

    /* border-radius: 0px 0px 30px 30px;
    box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16); */
    padding: 4px 0px 8px 12px;
    /* color: #27275a; */
    color: #1A0E2A;
    /* color: #FEF1D1; */


    /* border: 1px #ffffff solid; */
}

span#month{
    font-size: 20px;
    font-weight: bold;
    line-height: 1em;

}

span#year {
    font-size: 20px;
    font-weight: 300;
    line-height: 1em;
    margin-left: 8px;
}



